#map {
    height: 600px;
    border: 1px solid black;
    width: 100%;
}

body { /* Credit: Ashley fernandez */
    margin: 0;
    background-color: #bfdfec;
    font-family: system-ui, calibri, serif;
    background-repeat: repeat-x;
    background-image: url("https://i.stack.imgur.com/b7z29.png");
    animation: movement 10s linear infinite;
}
  
@keyframes movement {
0% {
    background-position: 0px 0px;
}
100% {
    background-position: 560px 0px;
}
}
#map-container {
    /* border: 10px solid black; */
    user-select: none;
}
.box {
    height: 40%;
    width: 100%;
    padding: 5px;
}
.nav-item {
    height: 35px;
    font-size: small;
    border: 1px solid #292929;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px; /*TL TR BR BL*/    
}

.nav-link {
    color: black;
}

.active, .active:hover, .active:focus, .nav-link:hover, .nav-link:focus, .nav-tabs {
    border-bottom: none !important;
    border-radius: 10px 10px 0px 0px !important; /*TL TR BR BL*/
}

.nav-tabs .nav-item.show .top-nav.active {
    background-color: #8EC1DA !important;
}

.bot-nav {
    background-color: #BFDFEC !important;
}

.nav-item:hover {
    background-color: #eeeeee;
}

.visual-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: auto;
    width: 60%;  
}

.content-box {
    padding: 10px;
    height: 100%;
    border: 1px solid #292929;
    border-radius: 0px 8px 8px 8px; /*TL TR BR BL*/
}

.county-popup {
    background-color: #e2e9f4;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.leaflet-popup-content-wrapper {
    background: none;
    box-shadow: none;
    border: none;
}
.leaflet-popup-tip-container, .leaflet-popup-close-button {
    display: none; /* Hide the default tip && close button */
}